<h2 mat-dialog-title>{{task.title}}</h2>
<mat-dialog-content>
  <form #form="ngForm">
    <div class="form-field-container">
      <mat-form-field>
        <input matInput placeholder="Title" name="title" [(ngModel)]="task.title" #ctrl="ngModel">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Notes (you can use markdown here!)" rows="5" name="notes" [(ngModel)]="task.notes" ngModel></textarea>
      </mat-form-field>

      <mat-form-field class="form-date-field">
        <input matInput [matDatepicker]="picker" placeholder="Due date" name="due" [value]="task.due" (dateChange)="setDueDate($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="accent" (click)="updateTask()">Update</button>
</mat-dialog-actions>
