<div  fxLayout="column" fxFill fxLayoutGap="4px">
  <app-navbar></app-navbar>
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFill fxLayoutAlign="start start" fxLayoutGap="4px">
    <div fxFlex="20">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>check_circle</mat-icon>
          <mat-card-title>Task Lists</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Select the task list you'd like to tackle now!</p>
          <div fxLayout="row">
            <mat-form-field>
              <mat-select placeholder="Your task lists" [disabled]="!taskLists.length" [(value)]="selectedTaskList" (valueChange)="taskListChanged()">
                <mat-option *ngFor="let taskList of taskLists" [value]="taskList.id">
                  {{taskList.title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button (click)="addTaskList()"><mat-icon matTooltip="Add new task list">add</mat-icon></button>
            <button mat-icon-button (click)="removeTaskList()"><mat-icon matTooltip="Delete selected task list">delete</mat-icon></button>
          </div>
          <div *ngIf="showNewTaskList" fxLayout="row">
            <mat-form-field>
              <input matInput name="tasklist" [(ngModel)]="tasklist" placeholder="Task list name">
            </mat-form-field>
            <button mat-flat-button color="accent" (click)="saveNewTaskList()">Save</button>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>edit</mat-icon>
          <mat-card-title>Manage Tasks</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <button mat-flat-button color="accent" (click)="addTask()" [disabled]="!selectedTaskList">
            <mat-icon>add</mat-icon> Add task
          </button>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="80" fxLayout="column" fxFill>
      <app-task-list [taskListId]="selectedTaskList" [tasksUpdated]="tasksUpdated"></app-task-list>
    </div>
  </div>
</div>
