<mat-toolbar class="picker-date-toolbar">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="filterTasksByDate($event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <span>&nbsp;</span>
  <button mat-button color="accent" (click)="clearFilter()">
    <mat-icon>clear</mat-icon>
  </button>
  <span class="fill-remaining-space"></span>
  <button mat-button color="accent" (click)="toggleSelectedTasks()">
    <mat-icon></mat-icon> Toggle selected tasks
  </button>
</mat-toolbar>
<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="4px" class="flex-wrap"
     fxFlexAlign="center center">

  <mat-card *ngFor="let task of tasks" fxFlex="45">
    <mat-card-header>
      <mat-card-title>{{task.due | date}}</mat-card-title>
      <mat-card-subtitle>
        <mat-selection-list>
          <mat-list-option [selected]="task.selected" (click)="updateTask(task, true)">
            <h4 matSubheader class="body-2">
              {{task.title}}
            </h4>
          </mat-list-option>
        </mat-selection-list>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-selection-list dense #taskList *ngFor="let child of task.children" fxLayout="column" role="listbox">
      <div fxLayout="row">
        <div>
          <button mat-icon-button class="mat-icon-button" (click)="editTask(child)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div>
          <mat-list-option [selected]="child.selected" role="option" (click)="updateTask(child, true)">
            <p matLine>
              {{child.title}}
              <span class="due-date" *ngIf="child.due"> &nbsp; | &nbsp; {{child.due | date}}</span>
            </p>
          </mat-list-option>
        </div>
      </div>
    </mat-selection-list>
  </mat-card>

</div>
