.mat-icon-button .material-icons {
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.due-date {
  font-weight: bold !important;
}

.cross {
  text-decoration: line-through;
}

.picker-date-toolbar {
  font-size: 13px;
  margin-bottom: 4px;
}

